.navbar{
  position: absolute;
  top: 25%; /* Adjust this to position vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%); /* Perfectly center it */
  /* background-color: rgba(254, 254, 240, .9); */
  background: rgba(0, 0, 0, 0);
  border-radius: 0 0 35% 35%;
  z-index:1;
  font-family: "Agbalumo",sans-serif;
  /* display: flex; */
  align-items: center;
  padding: 2.5%;
  transition: position 0.3s ease;
}

.line {
  width: 80%; /* Full width */
  height: 1vh; /* Line thickness */
  background-color: black; /* Line color */
  margin: 20px 0; /* Remove any default margins */
}

#centeredText{
  font-size: clamp(24px, 10vw, 98px);
  line-height: 1.2;
  margin: 0;
  color: rgb(241, 240, 237);
  text-align: center;
  text-shadow: 0.125vw 0.125vw rgb(162, 53, 149);
    
}

#TitlePic{ 
    width: 100vw;
    height: calc(100vh - 95px);;
    object-fit: cover;
    object-position:center;
    /* display: flex;  Enable flexbox */
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    text-align: center;  /* Ensure the text itself is centered */
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #TitlePic {
      width: 100vw;
      height: 60vh; /* Only take up half the height */
  }
}

@media only screen and (max-height: 300px) {
  #TitlePic {
      width: 100vw;
      height: 100vh; /* Only take up half the height */
  }
}

.home{
    position: relative;
    width: 100%;  /* Full width of the viewport */
    /* overflow: hidden;   */
    height:auto;
}

.grid {
    background-color: rgb(254, 254, 240);
    display:flex;
    flex-wrap:wrap;
}


.gallery1 {
    margin-left: 4%;
    position: relative;
    height: 100%;
    max-width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: left;

}

.gallery2 {
    margin-right: 4%;
    position: relative;
    height: 100%;
    max-width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: right;

}

.gallery3 {
    position: relative;
    height: 100%;
    max-width: 30%;
    /*margin: auto;*/
    margin-left:auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: none;

}

.pic {
    max-width: 100%;
    /*height: auto;*/
    padding: 1.6%;
    border-radius: 1vw;
    display:block;
    margin-bottom:.1vh;
}

a{
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }