/* .navbar{
  position: sticky;
  top: 75vh;  
  z-index: 10; 
  background: rgba(0, 0, 0, 0);
  border-radius: 0 0 35% 35%;
  z-index:1;
  font-family: "Agbalumo",sans-serif;
  display: flex; 
  align-items: center;
  padding: 2.5%;
} */

#centeredText{
  transform: translate(-50%, 50%);
  left: 50%;
  font-size: clamp(24px, 10vw, 98px);
  margin: 0;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  color: rgb(241, 240, 237);
  text-align: center;
  text-shadow: 0.125vw 0.125vw rgb(162, 53, 149);
  position: sticky;
  z-index: 2;
}

#TitlePic{ 
    width: 100vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    position:relative;
    display: block;
    /* transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out; */
}

/*for making the image height resize well when skrinking height */
@media only screen and (max-height: 650px) {
  #TitlePic {
      max-height: 100vh;
      object-position: top;
  }
}

/* @media only screen and (max-height: 3000px) {
  #TitlePic {
      max-height: 70vh;
  }
} */

/* @media only screen and (max-height: 250px) {
  .navbar {
      display: none;
  }
} */

/* .home{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 25vh;
    overflow: hidden
} */

.grid {
    background-color: rgb(254, 254, 240);
    display:flex;
    flex-wrap:wrap;
}


.gallery1 {
    margin-left: 4%;
    position: relative;
    height: 100%;
    max-width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: left;

}

.gallery2 {
    margin-right: 4%;
    position: relative;
    height: 100%;
    max-width: 30%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: right;

}

.gallery3 {
    position: relative;
    height: 100%;
    max-width: 30%;
    /*margin: auto;*/
    margin-left:auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    float: none;

}

.pic {
    max-width: 100%;
    /*height: auto;*/
    padding: 1.6%;
    border-radius: 1vw;
    display:block;
    margin-bottom:.1vh;
}

/* a{
    height: auto;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }